In [2]:
import turicreate as tc

In [3]:
url = 'https://static.turi.com/datasets/rating_data_example.csv'
imdb = tc.SFrame.read_csv(url)
imdb

Downloading https://static.turi.com/datasets/rating_data_example.csv to /var/tmp/turicreate-jovyan/8195/e4aad877-a62c-4c0c-bf5a-e2a6221ea341.csv

Finished parsing file https://static.turi.com/datasets/rating_data_example.csv

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Parsing completed. Parsed 100 lines in 0.03691 secs.

Finished parsing file https://static.turi.com/datasets/rating_data_example.csv

Parsing completed. Parsed 10000 lines in 0.039491 secs.

Columns:
	user_id	int
	movie_id	int
	rating	int

Rows: 10000

Data:
+---------+----------+--------+
| user_id | movie_id | rating |
+---------+----------+--------+
|  25904  |   1663   |   3    |
|  25907  |   1663   |   3    |
|  25923  |   1663   |   3    |
|  25924  |   1663   |   3    |
|  25928  |   1663   |   2    |
|  25933  |   1663   |   4    |
|  25934  |   1663   |   4    |
|  25935  |   1663   |   4    |
|  25936  |   1663   |   5    |
|  25937  |   1663   |   2    |
+---------+----------+--------+
[10000 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
imdb['movie_id'].unique()

dtype: int
Rows: 9
[1665, 1664, 1671, 1670, 1669, 1666, 1663, 1667, 1668]

In [20]:
avg_ratings = imdb.groupby(key_column_names=['movie_id'],
                            operations={
                                'avg_rating':tc.aggregate.MEAN('rating')
                            })

In [21]:
avg_ratings

Columns:
	movie_id	int
	avg_rating	float

Rows: 9

Data:
+----------+---------------+
| movie_id |   avg_rating  |
+----------+---------------+
|   1665   | 2.80952380952 |
|   1664   |      3.0      |
|   1671   | 3.38957475995 |
|   1670   | 2.79487179487 |
|   1669   | 3.21276595745 |
|   1666   | 2.73563218391 |
|   1663   | 3.58456391324 |
|   1667   | 2.47826086957 |
|   1668   | 3.42285714286 |
+----------+---------------+
[9 rows x 2 columns]

In [24]:
avg_ratings_with_stdev = imdb.groupby(key_column_names='movie_id',
                                operations={
                                    'mean_rating': tc.aggregate.MEAN('rating'),
                                    'std_rating': tc.aggregate.STD('rating')
                                })

In [25]:
avg_ratings_with_stdev

Columns:
	movie_id	int
	mean_rating	float
	std_rating	float

Rows: 9

Data:
+----------+---------------+----------------+
| movie_id |  mean_rating  |   std_rating   |
+----------+---------------+----------------+
|   1665   | 2.80952380952 | 1.33163156706  |
|   1664   |      3.0      | 1.17260393996  |
|   1671   | 3.38957475995 | 0.949594360135 |
|   1670   | 2.79487179487 | 0.882289770979 |
|   1669   | 3.21276595745 |  1.2192807474  |
|   1666   | 2.73563218391 | 1.04084886645  |
|   1663   | 3.58456391324 | 0.917766410159 |
|   1667   | 2.47826086957 | 1.24654532059  |
|   1668   | 3.42285714286 | 1.24374680802  |
+----------+---------------+----------------+
[9 rows x 3 columns]

In [27]:
worst_movies = imdb.groupby(key_column_names='user_id',
                            operations={'worst_movies': tc.aggregate.ARGMIN('rating','movie_id')})

In [28]:
worst_movies

Columns:
	user_id	int
	worst_movies	int

Rows: 9852

Data:
+---------+--------------+
| user_id | worst_movies |
+---------+--------------+
|  30727  |     1663     |
|  40613  |     1663     |
|  27460  |     1663     |
|  39048  |     1663     |
|  57581  |     1663     |
|  39848  |     1663     |
|  26415  |     1663     |
|  56952  |     1663     |
|  34666  |     1663     |
|  39386  |     1663     |
+---------+--------------+
[9852 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.